/* Aplicamos la fuente Verdana en todo el documento */
body {
    font-family: Verdana, sans-serif;
    background-color: #f0f0f0; /* Gris claro */
    color: #333; /* Gris oscuro para el texto */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Ocupa toda la altura de la ventana */
    margin: 0;
}

/* Contenedor del formulario y título */
.login-container {
    background-color: #ffffff; /* Fondo blanco */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

/* Contenedor principal de gestión de préstamos */
.loan-management-container {
    background-color: #ffffff; /* Fondo blanco */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 900px;
    text-align: center;
}

/* Estilo de los enlaces */
.links {
    margin: 20px 0;
}

.links a {
    color: #ff6666;
    text-decoration: none;
    margin: 0 10px;
}

.links a:hover {
    text-decoration: underline;
}

/* Estilo de la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #ff9999;
    color: white;
}

td {
    background-color: #f9f9f9;
}

/* Estilo para la imagen del logo */
.login-logo {
    width: 300px; /* Ajusta el tamaño de la imagen según sea necesario */
    margin-bottom: 20px;
}

/* Estilo de los elementos del formulario */
form {
    margin-top: 10px;
}

label, input, button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #ff9999; /* Rojo claro */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff6666; /* Rojo más intenso al pasar el mouse */
}

h2 {
    margin-bottom: 20px;
    color: #ff6666; /* Rojo claro para el título */
}
