*{
    margin: 0;
    padding: 0;

}

body{
    background-color: #ffffff;
    font-family: "roboto",sans-serif;

}

.conteiner{
    display: grid;
    width: 90%;
    max-width: 1000px;
    margin: 5px auto;
    gap: 3px;
    grid-template-columns: repeat(3,1fr) ;
    grid-template-rows: minmax(100px, auto);
                
    background-color: aliceblue;

    
}

.conteiner > .header,
.conteiner > .menu,
.conteiner > .contenido,
.conteiner > .sidebar,
.conteiner > .widget-1,
.conteiner > .widget-2,
.conteiner > .widget-3,
.conteiner > .footer{
    background: #fff;
    padding: 20px;
    border: 1px solid rgb(124, 124, 124);
    border-radius: 5px ;

}

.conteiner > .header,
.conteiner > .footer{
    background: rgb(255, 255, 225);
    color: royalblue;
    grid-column: 1/4;
}

/* MENU*/
.conteiner > .menu{
    grid-column: 1/4;  
}

nav{
    width: 400px;
    margin: 0 auto;
    float: right;
}
nav ul li{
    list-style: none;
    margin-left: 15px;
    padding: 25px 0;
    float: left;

}

nav ul li a{
    text-decoration: none;
    color: royalblue;
    font-weight: bold;


}

.img{
    width: 15px;
    height: 6px;
    float: left;
    padding: 5px;
}


/*------------------*/
.conteiner > .contenido{
    grid-column: span 2;
}

.conteiner > .sidebar{
    grid-column: span 1;
    background: #12203e;
    color: white;

}

.contenido > .articulo{
    background: lightskyblue;
    color: #12203e;
    padding: 20px;
    margin-top: 5px;
    border-radius: 5px;
}

.conteiner > .widget-1,
.conteiner > .widget-2,
.conteiner > .widget-3{
    background: #12203e;
    color: #fff;
    height: 100px;


}


/* CSS form */

.conteiner > .form-content{
    grid-column: span 2;
}

.form-content{ 
    background: #fff;
    color: royalblue;
    margin: 0;
    padding: 1em;
    

}

.form-content .form-control{
    width: 100%;
    padding: 1em;
    border: none;
    border-bottom: 1px solid rgb(88, 120, 218);
    outline: 0;


}

/* quienes somos*/

.conteiner > .contenido-somos1{
    grid-column: span 1;
}

.somos1{
    color: #113074;
    padding: 1em;

}

.conteiner > .contenido-somos2{
    grid-column: 2/4;
}

.img-product{
    border-radius: 5px;
}





@media screen and (max-width: 768px ) {
    .header{
        text-align: center;
    }

    .conteiner .contenido{
        grid-column: 1/-1;
    }

    .conteiner .sidebar{
        grid-column: 1/-1;
    }

    .conteiner .widget-1,
    .conteiner .widget-2,
    .conteiner .widget-3{
        grid-column: 1/-1;
    }
}
 
